$font__main: 'Sorts Mill Goudy', serif;
$font__heading: 'Montserrat', sans-serif;

$color__blue: #5b85cf;
$color__orange: #56a38b;
$color__grey: #275168;
$color__white: #ffffff;
$color__block: #794848;

$color__background: #8e969e;

$color__link: $color__blue;
$color__link-hover: lighten($color__blue, 15%);